/* src/Login.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url("https://img.freepik.com/free-vector/night-forest-landscape-view-with-mountain-background_107791-3640.jpg") no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px 30px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  width: 350px;
  color: white;
  box-shadow: 0 0 10px #00000030;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border: none;
  border-radius: 25px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.input-group .icon {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 18px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: white;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #e0e0e0;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}
